a, ul, li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}    

.header{
    position: fixed;
    top: 0;
    height: 55px;
    align-items: center;  
    background-image: linear-gradient(#218EF2, black);
}

.joy{
    height: 50px;
    width: 60px;
}
.title{
    padding-left: 360px;
}
.logoo{
    height: 90%;
    width: 90%;
}
.header .box{
    margin-left: 440px;
    color: red;
    vertical-align: middle;
}
.box{
    border-radius: 10px;
    height: 45px;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .header{
        position: fixed;
        top: 0;
        height: 55px;
        align-items: center;  
        background-image: linear-gradient(black,#218EF2);
    }
    .joy{
        height: 45px;
        width: 40px;
    }
    .title{
        padding-left: 50px;
    }
    .logoo{
        height: 50px;
        width: 200px;
    }
    .header .box{
        margin-left: 70px;
        color: red;
        vertical-align: middle;
    }
    .box{
        border-radius: 10px;
        height: 45px;
        background-color: white;
    }
}