a, ul, li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}    

.header{
    position: fixed;
    top: 0;
    height: 55px;
    align-items: center;  
    background-image: linear-gradient(#218EF2, black);
}
.header a{
    align-items: center;
    text-decoration: none;
}

.joy{
    height: 50px;
    width: 60px;
}

.title{
    padding-left: 360px;
}
.logoo{
    height: 90%;
    width: 90%;
}
.header .box{
    margin-left: 440px;
    color: red;
    vertical-align: middle;
}
.box{
    border-radius: 10px;
    height: 45px;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .position-header, .position-footer{
        width: 100%;
        position: fixed;
    }
    .joy{
        height: 45px;
        width: 40px;
    }
}