a, ul, li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}    

.header{
    position: fixed;
    top: 0;
    height: 55px;
    align-items: center;  
    background-image: linear-gradient(#218EF2, black);
}
.header a{
    align-items: center;
    text-decoration: none;
}

.header .joy{
    height: 70%;
    width: 70%;
}

.header .title{
    padding-left: 360px;
}
.header .logoo{
    height: 90%;
    width: 90%;
}
.header .box{
    margin-left: 440px;
    color: red;
    vertical-align: middle;
}
.box{
    border-radius: 10px;
    height: 45px;
    background-color: white;
}