<!--SEÇÃO GAMER-->



<p class="gamer">G A M E R</p>
<ul class="container">
    <li class="bloco">
        <a href="#" class="link1">
            <p class="legenda">Placa de Vídeo Gainward <br> NVidia GeForce</p>
        </a>
        <a href="#">
            <img class="placa" src="../assets/img/placa de video.png" width="250">
        </a>
        <a href="#" class="price">
            <p class="price">R$ 5.099,00</p>
        </a>
    </li>

    <li class="bloco">
        <a href="#" class="link1">
            <p class="legenda">Cadeira Gamer Log Gaming</p>
        </a>
        <a href="#">
            <img class="cadeira" src="../assets/img/cadeira gamer.png" width="250">
        </a>
        <a href="#" class="price">
            <p class="price">R$ 1.119,00</p>
        </a>
    </li>

    <li class="bloco">
        <a href="#" class="link1">
            <p class="legenda">Headset Gamer Motospeed G750</p>
        </a>
        <a href="#">
            <img class="headset" src="../assets/img/headset gamer.png" width="250">
        </a>
        <a href="#" class="price">
            <p class="price">R$ 129,00</p>
        </a>
    </li>

    <li class="bloco">
        <a href="#" class="link1">
            <p class="legenda">Mouse Gamer Havit</p>
        </a>
        <a href="#" class="mouse">
            <img src="../assets/img/mouse gamer.png" width="250">
        </a>
        <a href="#" class="price">
            <p class="price1">R$ 99,00</p>
        </a>
    </li>
</ul>

<a href="#" style="text-decoration: none; color: black; font-size:larger; text-align: center;"><p class="more">ver mais</p></a>

<!-- SEÇÃO INFORMÁTICA -->
<p class="info">I N F O R M Á T I C A</p>
<ul class="container">
    <li class="bloco">
        <a href="#" class="link1">
            <p style="text-align: center; font-family: sans-serif;">Computador Desktop Login <br> Intel Core i3 9100 4gb ddr4 <br> ssd 240gb Windows 10</p>
        </a>
        <a href="#">
            <img src="../assets/img/desktop.png" alt=""></a>
            <a href="" style="text-decoration: none; color: black;">
                <p style="text-align: center;" class="desktop">R$ 5.299,00</p>
            </a>
    </li>

    <li class="bloco">
        <a href="" class="link1">
            <p style="text-align: center; font-family: sans-serif;">Nobreak TS Shara UPS Senoidal <br> Universal 3200va 2 Baterias Internas <br> Bivolt USB 4450</p>
        </a>
        <a href="#">
            <img class="nobreak" src="../assets/img/nobreak.png" alt="">
        </a>
        <a href="#" style="text-decoration: none; color: black;">
            <p style="text-align: center; margin-top: 10px;" class="price">R$ 1.199,00</p>
        </a>
    </li>

    <li class="bloco">
        <a href="#" class="link1">
            <p style="text-align: center; font-family: sans-serif;">Processador AMD Athlon 3000g <br> Dual Core 3 <br> 5 ghz Cache 5mb Am4</p>
        </a>
        <a href="#">
            <img src="../assets/img/processador.png" alt="">
        </a>
        <a href="#" style="text-decoration: none; color: black;">
            <p style="text-align: center;" class="price">R$ 479,00</p>
        </a>
    </li>

    <li class="bloco">
        <a href="#" class="link1">
            <p style="text-align: center; font-family: sans-serif;">Memoria 4gb ddr4 <br> 2666 Mhz Micron Cl19</p>
        </a>
        <a href="#">
            <img class="memoria" src="../assets/img/memoria.png" alt="">
        </a>
        <a href="#" style="text-decoration: none; color: black;">
            <p style="text-align: center; margin-top: 15px;" class="price">R$ 219,00</p>
        </a>
    </li>
</ul>

<a href="#" style="text-decoration: none;color: black;font-size:larger;align-items: center;"><p class="more">ver mais</p></a>

<!-- SEÇÃO PROMOÇÕES -->
<p class="promo">P R O M O Ç Õ E S </p>
<div class="card">
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/battle.png" alt="">
        <mat-card-content>
            <h3>BATTLEFIELD</h3>
        </mat-card-content>
        <mat-card-actions>
        <button style="background-color: #218EF2; color: white; border: 1px solid blue; position: inherit;" mat-button>R$ 99,99</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <img mat-card-image src="assets/img/cs go.png" alt="">
        <mat-card-content>
            <h3>CS GO</h3>
        </mat-card-content>
        <mat-card-actions>
        <button style="background-color: #218EF2; color: white; border: 1px solid blue; position: inherit;" mat-button>R$ 89,90</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <img mat-card-image src="assets/img/fortnite.png" alt="">
        <mat-card-content>
            <h3>FORTNITE</h3>
        </mat-card-content>
        <mat-card-actions>
            <button style="background-color: #218EF2; color: white; border: 1px solid blue; position: inherit;" mat-button>R$ 79,90</button>
        </mat-card-actions>
    </mat-card>


    <mat-card class="example-card">
        <img class="cl" mat-card-image src="assets/img/call.png" alt="">
        <mat-card-content>
            <h3>CALL OF DUTY</h3>
        </mat-card-content>
        <mat-card-actions>
            <button style="background-color: #218EF2; color: white; border: 1px solid blue; position: inherit;" mat-button>R$ 69,90</button>
        </mat-card-actions>
    </mat-card>    

    <mat-card class="example-card">
        <img class="gd" mat-card-image src="assets/img/gow.png" alt="">
        <mat-card-content>
            <h3>GOD OF WAR</h3>
        </mat-card-content>
        <mat-card-actions>
            <button style="background-color: #218EF2; color: white; border: 1px solid blue; position: inherit;" mat-button>R$ 49,90</button>
        </mat-card-actions>
    </mat-card>  
</div>