<ngb-carousel class="carousel">
    <ng-template class="template" ngbSlide>
      <div class="picsum-img-wrapper">
        <a href="#">
            <img class="image" src="assets/img/banner22.jpg" alt="Angular Carousel 1">
        </a>
      </div>
      <div class="carousel-caption">
        <a href="#">
            <h3 style="font-size: 20pt; font-weight: bolder;">Todos os jogos em suas mãos</h3>
            <p>Aproveite para jogar tudo</p>
        </a>
      </div>
    </ng-template>
    <ng-template class="template" ngbSlide>
      <div class="picsum-img-wrapper">
        <a href="#">
            <img class="image" src="assets/img/banner33.jpg" alt="Angular Carousel 2">
        </a>
      </div>
      <div class="carousel-caption">
        <a href="#">
            <h3 style="font-size: 20pt; font-weight: bolder;">Espaço para Gamers</h3>
        </a>
        <a href="#">
          <p>Novo e confortável ambiente</p>
        </a>
      </div>
    </ng-template>
    <ng-template class="template" ngbSlide>
      <div class="picsum-img-wrapper">
        <a href="#">
         <img class="image" src="assets/img/banner44.jpg" alt="Angular Carousel 2">
         </a>
      </div>
      <div class="carousel-caption">
        <a href="#">
            <h3 style="font-size: 20pt; font-weight: bolder;">Cuidados contra vírus</h3>
        </a>
        <a href="#">
          <p>Saiba como se proteger</p>
        </a>
      </div>
    </ng-template>
</ngb-carousel>