body, ul, li, p{
    list-style: none;
    text-decoration: none;
    font-size: 15pt;
    font-family: sans-serif;
    margin-bottom: 20px;
    position: inherit;
}
.h11{
    text-align: center;
    margin-top: 40px;
    font-size: xx-large;
}
.grid{
    position: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 5%;
    margin-right: 5%;    
}

mat-grid-tile{
    position: inherit;
}
mat-grid-tile .img1{
    width: 500px;
    height: 400px;
    position: inherit;
    border-bottom:10px solid chartreuse;
}

mat-grid-tile .img2{
    width: 490px;
    height: 399px;
    position: inherit;
    border-bottom:10px solid chartreuse;
}


@media screen and (max-width:768px) {
    .img{
    width: inherit;
    height: inherit;
    }
}